[submodule "tls-gen"]
	path = tls-gen
	url = git@github.com:rabbitmq/tls-gen.git
[submodule "redbug"]
	path = redbug
	url = https://github.com/massemanet/redbug.git
[submodule "https://github.com/rabbitmq/tls-gen.git"]
	url = tls-gen
